/* Dark / Light mode */
body.light-mode {
  background-color: #f8f9fa;
  color: #212529;
}

body.dark-mode {
  background-color: #121212;
  color: #f8f9fa;
}

.card {
  transition: all 0.3s ease;
}

.card.negative {
  border: 2px solid #dc3545;
  color: #dc3545;
}

/* Buttons styling */
.btn-outline-primary {
  min-width: 150px;
}
